*{
  font-family: sans-serif;
}
.container{
  max-width: 1170px;
  margin: 20px auto;
}
.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.tarjeta{
  width: 20%;
  text-align: center;
  margin-top: 20px;
}
.tarjeta img{
  width: 100%;
}



